body {
  font-family: "GrandCru", sans-serif;
  /* padding-top: 100px; */
}

.navbar-container {
  background-color: #4e2f15;
  width: 100vw;
  margin-left: -30px;
  max-height: 15%;
}

.navbar-container-home {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  /* padding-left: 40px; */
  /* padding-bottom: 20px; */
  /* padding-top: 5px; */
  margin-bottom: 40px;
} 

.new-log {
    color: black;
}

.vetLogo-container {
max-width: 100px;

}


